.App {
  text-align: center;
}

.add-todo-form {
  display: flex;
  flex-direction: row;
}

.add-todo-form > input {
  flex: 2 1 auto;
}

.add-todo-form > button {
  flex: 2 1 125px;
  margin-left: 10px;
}

.todo-form-header {
  border-radius: 10px 10px 0 0 !important;
  background-color: rgba(0, 0, 0, 0.03) !important;
}

.todo-text {
  flex: 10 5 auto;
}

.todo-remove-btn {
  flex: 1 1 auto;
  display: flex;
  justify-content: flex-end;
}